@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background-color: hsl(0, 35%, 94%);
    font-family: 'Montserrat', sans-serif;
}

#containerLogin {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 100px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.form-label {
    font-weight: bold;
}

.btn-primary {
    width: 100%;
}

#mensaje {
    margin-top: 20px;
    text-align: center;
}
/* Estilos del navbar */
.navbar {
    transition: box-shadow 0.3s ease;
    padding: 20px; /* Espacio entre el contenido y el borde del navbar */
}

.navbar-brand {
    font-size: 24px; /* Tamaño de la fuente del enlace "Volver al Login" */
    font-weight: bold; /* Texto en negrita */
    transition: color 0.3s ease;
    margin-right: 40px; /* Espacio entre el enlace "Volver al Login" y los demás enlaces */
}

.navbar-toggler {
    margin-right: 20px; /* Espacio entre el botón del menú desplegable y los enlaces */
}

.nav-item {
    margin-right: 20px; /* Espacio entre los enlaces del menú */
}

.nav-link {
    font-size: 18px; /* Tamaño de la fuente de los enlaces del menú */
    font-weight: bold; /* Texto en negrita */
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 8px 15px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #f8f9fa; /* Color de fondo cuando se pasa el cursor */
    color: #000; /* Cambiar el color del texto al pasar el cursor */
}

/* Estilos adicionales */
.container {
    margin-top: 20px; /* Espacio entre el navbar y el contenido de la tabla */
}

h1 {
    margin-bottom: 20px; /* Espacio entre el título y la tabla */
}
/* Estilos para el formulario */
#formularioEmpleado {
    max-width: 500px; /* Ajustar el ancho del formulario según tus necesidades */
    margin: 0 auto; /* Centrar el formulario horizontalmente */
}

/* Estilos para los botones en el formulario */
#formularioEmpleado button {
    margin-top: 20px; /* Espacio entre los botones */
}

/* Estilos para los botones de la tabla de empleados */
#empleados button {
    margin: 0;
    padding: 5px 10px;
}
.btn {
    margin-right: 10px;
}